@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
footer {
  max-width: 1200px;
  margin: auto;
  margin-top: 80px;
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  gap: 180px;
}
@media screen and (max-width: 500px) {
  footer {
    margin-top: 0;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 80vw;
    margin: auto;
  }
}
footer .text {
  max-width: 300px;
}
footer .text p {
  color: #777777;
  font-weight: 400;
  margin-top: 40px;
}
footer .text p.add-margin {
  margin-top: 65px;
}
@media screen and (max-width: 500px) {
  footer .text p.add-margin {
    margin-top: 30px;
  }
}
footer .links {
  display: flex;
  flex-direction: row;
  gap: 150px;
}
@media screen and (max-width: 500px) {
  footer .links {
    flex-direction: column;
    gap: 50px;
  }
}
footer .links .column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 500px) {
  footer .links .column {
    gap: 15px;
  }
}
@media screen and (max-width: 500px) {
  footer .links .column h3 {
    margin: 0;
  }
}
footer .links .column a {
  font-size: 20px;
  font-weight: 400;
  color: #777777;
  position: relative;
}
footer .links .column a.with-button::after {
  content: "Hiring!";
  position: absolute;
  display: inline-block;
  top: 0;
  right: -70px;
  border-radius: 14px;
  background-color: #4FE9A4;
  font-size: 13px;
  font-weight: 700;
  color: #0A2640;
  padding: 5px 14px;
}

.home {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.home header .top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #FFFFFF;
}
.home header .top-header .infos {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 5px;
  padding-left: 100px;
}
.home header .top-header .infos p {
  margin: 0;
}
.home header .top-header .social-media {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-right: 100px;
}
.home header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}
.home header nav .logo {
  font-size: 35px;
  font-weight: bold;
}
.home header nav .links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.home header nav .links a {
  color: #000000;
  text-decoration: none;
}
.home header nav .links a:visited {
  color: #000000;
}
.home main {
  margin: 0 100px;
}
.home main .presentation {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.home main .presentation .nav-img {
  position: relative;
}
.home main .presentation .nav-img img {
  max-width: 100%;
  max-height: 100%;
}
.home main .presentation .nav-img a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.home main .presentation .nav-img a:visited {
  color: #000000;
}
.home main .presentation .nav-img a:hover {
  border: solid 2px #000000;
}
.home main .brand-container {
  margin-top: 80px;
}
.home main .brand-container .products-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.home main .brand-container .products-container .product-card {
  max-width: 300px;
}
.home main .brand-container .products-container .product-card img {
  max-width: 100%;
  height: auto;
}

.about {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.about {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/*# sourceMappingURL=style.css.map */
