//Nothing yet
$color-primary: #FFFFFF;
$color-secondary: #0A2640;
$color-dark: #000000;
$color-light-text: #F1F1F1;
$color-grey-text: #777777;
$color-accent: #4FE9A4;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$text-family-manrope: 'Manrope', sans-serif;
$text-family-opensans: 'Open Sans', sans-serif;
