.home {
    margin: 0;
    font-family: $text-family-opensans;

    header {
        .top-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            background-color: $color-dark;
            color: $color-primary;

            padding: 5px 100px;

            .infos {
                display: flex;
                flex-direction: row;
                gap: 20px;

                p {
                    margin: 0;
                }
            }

            .social-media {
                display: flex;
                flex-direction: row;
                gap: 15px;

                span {
                    display: flex;
                    align-items: center;

                    &:hover {
                        cursor: pointer;
                    }

                    img {
                        max-width: 20px;
                        height: auto;
                    }
                }
            }
        }

        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            border-bottom: solid 1px rgba($color: $color-grey-text, $alpha: 0.3);

            padding: 10px 100px;

            position: relative;

            .logo {
                font-size: 35px;
                font-weight: bold;
            }

            .links {
                display: flex;
                flex-direction: row;
                gap: 30px;

                a {
                    color: $color-dark;
                    text-decoration: none;
                }

                a:visited {
                    color: $color-dark;
                }
            }
        }
    }

    a.button {
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;

        text-decoration: none;
        color: initial;
    }

    #cart-div {
        display: none;

        position: absolute;
        top: 100px;
        right: 100px;
        z-index: 10;

        background-color: $color-primary;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        padding: 10px;

        h4 {
            margin: 0;
        }
    }

    main {
        margin: 30px 100px;

        .presentation {
            display: flex;
            flex-direction: row;
            gap: 10px;

            .nav-img {
                position: relative;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }

                a {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    padding: 10px;

                    color: $color-dark;
                    background-color: #ffffff;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: bold;
                }

                a:visited {
                    color: $color-dark;
                }

                a:hover {
                    border: solid 2px $color-dark;
                }
            }
        }

        .filters {
            margin-top: 80px;

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 30px;
        }

        #pokemon-container {
            margin-top: 0;
        }

        .brand-container {
            margin-top: 80px;

            .products-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 30px;

                .product-card {
                    min-width: 300px;
                    max-width: 300px;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 10px;

                    figure {
                        margin: 0;

                        .img,
                        .img2 {
                            max-width: 100%;
                            height: auto;
                        }

                        .img2 {
                            display: none;
                        }

                        &:hover .img {
                            display: none;
                        }

                        &:hover .img2 {
                            display: block;
                        }
                    }

                    .title {
                        color: $color-grey-text;
                        font-weight: normal;
                        text-transform: lowercase;

                        margin: 0;
                    }

                    .price {
                        font-weight: bold;
                        margin: 0;
                    }

                    .discount {
                        margin-left: 10px;

                        font-weight: normal;
                        color: $color-grey-text;
                        text-decoration: line-through;
                    }
                }
            }
        }
    }

    footer {
        .registration {
            padding: 0 100px;
            color: $color-primary;
            background-color: $color-dark;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .email-input {
                width: 300px;
                padding: 5px;

                background-color: $color-grey-text;
                color: $color-primary;

                &::placeholder {
                    color: rgba($color: $color-primary, $alpha: 0.6);
                }
            }

            .registration-button {
                padding: 5px;
                background-color: $color-dark;
                color: $color-primary;
                border: 1px solid $color-primary;

                &:hover {
                    cursor: pointer;
                }
            }

            .social-media {
                display: flex;
                flex-direction: row;
                gap: 15px;

                span {
                    display: flex;
                    align-items: center;

                    &:hover {
                        cursor: pointer;
                    }

                    img {
                        max-width: 20px;
                        height: auto;
                    }
                }
            }
        }

        nav {
            padding: 0 100px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .title {
                text-transform: uppercase;
            }

            .links {
                list-style-type: none;
                padding: 0;
            }
        }

        .copyrights {
            padding: 0 100px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            color: $color-grey-text;
        }
    }
}